@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
header{
    margin-top: 3em;
}

.navegacion-nav{
    height: 80px;
    width: 100%;
    background-color: #061d49;
    position: fixed;
    margin-top: -3em;
}
.navegacion-nav__a{
    width: 50%;
    margin-top: 500px;
}
.navegacion-nav__a-img{
    width: 50px;
    margin-top: 10px;
    margin-left: 12px;
}

.navegacion-nav .navegacion-nav__ul{
    list-style: none;
    float: right;
}

.navegacion-nav .navegacion-nav__ul li{
    display: inline-block;
    line-height: 80px;
    margin:  0 5px;
}

.navegacion-nav .navegacion-nav__ul li a{
    color: white;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

.navegacion-nav .navegacion-nav__ul li a:hover{
    background-color: #c3d600;
    color: #061d49;
    transition: .5;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none ;
}



.banner-section{
    display: flex;
}

.banner-section__div-colum1{
    width: 80%;
    height: 39.9vw;
}

.banner-section__div-colum1 img{
    width: 100%;
    height: 100%;
}
.banner-section__div-colum2{
    display: block;
    width: 20%;
}
.banner-section__div-colum2 img{
    margin-top: 0px;
    width: 100%;
}

.container-section{
    margin:5% 6% ;
    display: flex;
}
.container-section__div-colum1{
    width: 50%;
}
.container-section__div-colum2{
    width: 50%;
}
.container-section__div-colum2 h1{
    font-size: 3em;
    color: #c3d600;
}
.container-section__div-colum2 p{
   width: 80%;
   color: #061d49;
   line-height: 2em;
   font-family: 'Inclusive Sans', sans-serif;
}

.container-section2{
    margin:5% 6% ;

}

.container-section2__div-colum1 h1{
    font-size: 3.5em;
    color: #0db6b4;
}

.container-section2__div-colum2{
    display: flex; 
}

.container{
    margin-right: 10px;
    position: relative;
}

.container img{
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute; /* Se superpone en relación con el contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Toma el ancho completo del contenedor */
    height: 100%; /* Toma la altura completa del contenedor */
    background-color: #0db6b4; /* Fondo semitransparente (negro en este caso) */
    opacity: 0; /* Se puede cambiar para ajustar la transparencia */
    transition: opacity 0.3s ease; /* Agrega una transición suave para el efecto fade */
  }

  .container:hover .overlay {
    opacity: 1; /* Hacer visible el overlay cuando el mouse está sobre el contenedor */
  }

  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }

  @media (max-width: 1669px) {
    /* *{
        background: #061d49;
    } */
    .container-section{
        display: flex;
    }
    .container-section__div-colum1{
        width: 100%;
    }
    .container-section__div-colum2{
        width: 80%;
        
    }
  }

  @media (max-width: 1537px) {
    /* *{
        background: #061d49;
    } */
    .container-section{
        display: block;
    }
    .container-section__div-colum1{
        width: 100%;
    }
    .container-section__div-colum1 iframe{
        width: 100%;
    }
    .container-section__div-colum2{
        width: 100%;
    }
    .container-section__div-colum2 h1{
        text-align: center;
    }
    .container-section__div-colum2 p{
        width: 100%;
    }
  }

  @media (max-width:1158px){
    .container-section2__div-colum2{
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 2fr;
    }
    .container-section2__div-colum2 .container{
        width: 100%;
    }
  }

  @media (max-width: 894px) {
    .checkbtn{
        display: block;
    }

    .navegacion-nav__ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #061d49;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navegacion-nav .navegacion-nav__ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked  ~ .navegacion-nav__ul{
        left: 0;
    }
  }

  @media(max-width:650px){

  }
  @media (max-width: 510px) {
    .banner-section{
        display: block;
    }
    .banner-section__div-colum1{
        width: 100%;
    }
    .banner-section__div-colum1 img{
        width: 100%;
    }
    .banner-section__div-colum2{
        width: 100%;
    }
    .container-section2__div-colum2{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }
  }