@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500&family=Mulish&family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
body{
    background-color: #f2f2f4;
}
header{
    margin-top: 3em;
    background: #061d49;
}

.navegacion-nav{
    height: 80px;
    width: 100%;
    background-color: #88def8;
    position: fixed;
    margin-top: -3em;
    z-index:1000;
    box-shadow: 10px 1px 50px rgb(198, 196, 196);

}
.navegacion-nav__a{
    width: 50%;
    margin-top: 500px;
}
.navegacion-nav__a-img{
    width: 150px;
    margin-top: 10px;
    margin-left: 12px;
}

.navegacion-nav .navegacion-nav__ul{
    list-style: none;
    float: right;
}

.navegacion-nav .navegacion-nav__ul li{
    display: inline-block;
    line-height: 80px;
    margin:  0 5px;
}

.navegacion-nav .navegacion-nav__ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 7px 13px;
    font-weight: 600;
    border-radius: 3px;
    text-transform:  uppercase;
}

.navegacion-nav .navegacion-nav__ul li a:hover{
    background-color: #ffc28d;
    border-radius: 40px;
    transition: .5;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none ;
}

.banner-section{
    margin-top: 2%;
}
/* mitad banner 1*/



/* mitad banner 2*/


/*slider */
.banner-section{
    margin-top: 30px;
    display: flex;
}


.banner-section__div-h1{
    margin-top: 25%;
    font-size: 2.5em;
    margin-left: 6%;
}
.banner-section__div-p{
    line-height: 2em;
    margin-left: 3%;
    margin-right: 6% ;
}

.banner-section__div-colum1{
    /* background: #8b5454; */
    width: 30%;
    height: 37.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.banner-h1{
    color: #052A38;
    font-size: 5rem;
    text-transform:  uppercase;
    font-weight: 600;
    font-family: 'Mulish';
    letter-spacing: .4rem;
    margin-bottom: 100px;
    
}
.span{
    display: block  ;
    /* font-family: 'Bebas Neue'; */
    letter-spacing: 1rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
.banner-p{

    font-size: 2rem;
    margin-top: 3rem;
    letter-spacing: .7rem;
}

.banner-section__div-colum2{
    display: flex;
    width: 70%;
}

.banner-section__div-colum2 img{
    margin-top: 2px;
    width: 100%;
    height: 105%;
}


.text-centerP{
    font-size: 2.5rem;
    text-align: center;
    color:#000000;
    position: relative;
    top: -8rem;
}

.fondo-img{
    overflow: hidden;
    height: 37vw;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.img1 {
    border-bottom-left-radius: 22px;
    position: relative; /* Asegura que los estilos se apliquen correctamente */
    opacity: .7; /* Se puede cambiar para ajustar la transparencia */
    transition: opacity 0.5s ease-out;
    transform-origin: center; 
}

.img2{
    transform-origin: center; /* Establecemos el punto de origen de la transformación en el centro */
    opacity: .7; /* Se puede cambiar para ajustar la transparencia */
    transition: opacity 0.5s ease-out;
}

.img3{
    transform-origin: center; /* Establecemos el punto de origen de la transformación en el centro */
    opacity: .7; /* Se puede cambiar para ajustar la transparencia */
    transition: opacity 0.5s ease-out;
    border-bottom-right-radius: 22px;
}

.img1:hover{
    transform: scale(1.19); 
    opacity: 1;
}

.img2:hover{
    transform: scale(2.2);
    transform-origin: right;
    opacity: 1;
}

.img3:hover{
    transform: scale(1.28);
    opacity: 1;
}

.container-section2{
    margin:8% 6% ;    
}


.container-section2 h1{
    /* text-align: center; */
    color: #276591;
    font-size: 3rem;
    text-transform:  uppercase;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

.container-section2 p{
    font-size: 2rem;
    margin-top: 1rem;
}

.container-section3{
    margin:5% 6% ;
    
}

.container-section3__div-colum1 h1{
    text-align: center;
    color: #276591;
    font-size: 3rem;
    text-transform:  uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

.container-section3__div-colum2{
    display: flex; 
    padding: 50px;
    gap: 100px
}

  .container:hover .overlay {
    opacity: .7; 
    background-color: #276591;
  }

  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }


.container-section4{
    margin:5% 6% ;
    
}

.contenedor-section4__div-colum1 h1{
    text-align: center;
    color: #276591;
    font-size: 3rem;
    text-transform:  uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

.contenedor-section4__div-colum2{
    display: flex; 
    padding: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
    /* background: #061d49; */
 
}

.contenedor2{
    margin-right: 10px;
    position: relative;
    width: 100%;
}

.contenedor2 img{
    width: 100%;
    height: 100%;

}


.overlay2 {
    position: absolute; /* Se superpone en relación con el contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Toma el ancho completo del contenedor */
    height: 100%; /* Toma la altura completa del contenedor */
     /* Fondo semitransparente (negro en este caso) */
    opacity: 0; /* Se puede cambiar para ajustar la transparencia */
    transition: opacity 0.3s ease; /* Agrega una transición suave para el efecto fade */
    border-radius: 32px;
  }

  .contenedor2:hover .overlay2 {
    opacity: .8; 
    background-color: #131315;
  }

  .overlay-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }



.swiper {
    width: 80vw;
    height: 45vw;
    position: relative;
    left: 150px;
}

.swiper-slide img{
    width: 100%;
    /* height: 50%; */
    
}

.swiper-img{
border-radius: 32px;

}

.container-section5{
    
    margin-left:10%;
    margin-right: 10%;
    
    margin-top: 50px;
    margin-bottom: 200px ;
}

.ubicacion_row{
    display: flex;
    gap: 50px;
}

.carta2{
    border-radius: 22px;
    width: 30%;
    height: 380px;
    margin-right: 20px;
    overflow: hidden;
 
}


.carta-Mision:hover{
    background-color: #004d80;
    color: #f2f2f4;
}

.carta-Vision:hover{
    background-color: #DE8E17;
    color: #f2f2f4;
}

.bi-map-fill:hover{
    color: #f2f2f4;
}

.carta2 h1{
    height: 0.1%;
}
.Mision_y_vision-section{
    margin: 2% 10%;
}
.Mision_y_vision-section__h1{
    text-align: center;
    color: #276591;
    font-size: 3rem;
    text-transform:  uppercase;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

.Mision_y_vision-section_row{
    display: flex;
}

.carta{
    border-radius: 22px;
    width: 50%;
    height: 380px;
    margin-right: 20px;
    overflow: hidden;
}
 .carta h1{
    text-align: center;
}
.carta p{
    margin: 2%;
    font-size: 1.4rem;
}
.carta-Mision{
    border: 1px solid #2170c3;
    box-shadow: -15px 10px 25px rgba(0,0,0,0.6);
}
.carta-Vision{
    border: 1px solid #ef8e37;
    box-shadow: 15px 10px 50px rgba(0,0,0,0.6);
}

.carta-Mision h1{
    margin-top: 2rem;
    margin-bottom: 3rem;
    color:#ef8e37 ;
}

.carta-Vision h1{
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #2170c3;
}


footer{
    margin-top: 6rem;
    position: absolute;
    width: 100%;
    color: white;
    background-color: #0B6884;
}

.contacto a{
    color: white;
}
  /* @media (max-width: 1669px) {

    .container-section{
        display: flex;
    }
    .container-section__div-colum1{
        width: 100%;
    }
    .container-section__div-colum2{
        width: 80%;
        
    }
  }

  @media (max-width: 1537px) {

    .container-section{
        display: block;
    }
    .container-section__div-colum1{
        width: 100%;
    }
    .container-section__div-colum1 iframe{
        width: 100%;
    }
    .container-section__div-colum2{
        width: 100%;
    }
    .container-section__div-colum2 h1{
        text-align: center;
    }
    .container-section__div-colum2 p{
        width: 100%;
    }
  }

  @media (max-width:1158px){
    .container-section3__div-colum2{
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 2fr;
    }
    .container-section3__div-colum2 .container{
        width: 100%;
    }
  }*/

  @media (max-width: 894px) {
    .checkbtn{
        display: block;
    }

    .navegacion-nav__ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #061d49;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navegacion-nav .navegacion-nav__ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked  ~ .navegacion-nav__ul{
        left: 0;
    }
  }

  @media(max-width:650px){

  }
  @media (max-width: 510px) {
    .banner-section{
        display: block;
    }
    .banner-section__div-colum1{
        width: 100%;
    }
    .banner-section__div-colum1 img{
        width: 100%;
    }
    .banner-section__div-colum2{
        width: 100%;
    }
    .container-section3__div-colum2{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }
  }





/*@media (max-width: 894px) {
    .checkbtn {
        display: block;
    }

    .navegacion-nav__ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #061d49;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navegacion-nav .navegacion-nav__ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked ~ .navegacion-nav__ul {
        left: 0;
    }
}*/