header{
    margin-top: 3em;
    background: #061d49;
}

.nv-navegacion{
    height: 80px;
    width: 100%;
    background-color: #0B6884;
    position: fixed;
    margin-top: -3em;
    z-index:1000;
}

.nv-navegacion_a{
    width: 50%;
    margin-top: 500px;
}
.nv-navegacion-img{
    width: 150px;
    margin-top: 10px;
    margin-left: 12px;
}

.nv-navegacion_list-link{
    list-style: none;
    float: right;
}

.nv-navegacion-link{
    display: inline-block;
    line-height: 80px;
    margin:  0 5px;
}

.nv-navegacion-link a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 7px 13px;
    font-weight: 600;
    border-radius: 3px;
    text-transform:  uppercase;
}

.nv-navegacion-link a:hover{
    background-color: #003cff79;
    border-radius: 40px;
    transition: .5;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none ;
}