/* /* .navbar-nav{
    background-color: blue;
    padding: 10px 0 15px 0 ;
}
.navbar-nav__ul-li{
    display: inline;
    padding: 20px;
    color: white;
    text-align: center;
}
.navbar-nav__ul-li:hover{
    background-color:gold ;
} */

/* .cajas-h1{
    padding: 10px;
    background-color: gold;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 10px;
    border: 2em;
    box-shadow: -70px 1px 4px 1px  #000;
} */

/* .caja1{
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;

}

.caja2{
    width: 200px;
    height: 200px;
    background: yellow;
    margin: auto;
    outline: 10px rgb(17, 0, 255) solid;
} */
/*
div{
    width: 100px;
    height: 100px;
    display: block;
}

.caja1{
 background-color: yellow;
}

.caja2{
    background-color: lightblue;
    position: relative;
}
.caja3{
    background-color:orange ;
}
.caja4{
    background-color:greenyellow ;
} */