---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';

---

<Layout title="Materiales y Servicios la granja">
<main class="">

	<Banner/>
	<section class="container mx-auto">
		<article class="m-[8%,6%]">

			<h2 class="text-center text-5xl uppercase mt-4 mb-20 font-semibold text-sky-800">Construyendo Éxito Juntos</h2>
			<p class="text-4xl mt-4">
				Somos una empresa con más de una década de experiencia especializada en el alquiler de maquinaria pesada, así como en la producción y comercialización de materiales esenciales para la industria de la construcción.
		
				Contamos con una flota de maquinaria de alta calidad y una amplia gama de materiales de construcción para satisfacer las necesidades de nuestros clientes.</p>
		</article>
	</section>

</main>
</Layout>

