---

---

<section class= " relative  pb-[56%] after:bg-black  after:opacity-[.4] after:w-full after:h-full after:z-[-1] after:top-0 after:left-0" style="background-image: url(Banner.avif)">
    <article class="p-5 text-white fw-bold text-center">
        <h1 class="  tracking-[1rem] z-[100] text-[3.5vw] relative top-[500px] left-[15px] font-bold bg-gradient-to-r from-white to-cyan-300 bg-[400%] " style="  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;"> MATERIALES Y SERVICIOS LA GRANJA </h1>
    </article>
</section>
