---
interface Props {
    img:string
  title: string;
  body: string;
}
import Image from 'astro/components/Image.astro';

const { title, body,img } = Astro.props;
---


<div class="card relative flex flex-col min-w-0 bg-white w-full rounded-md  shadow-lg hover:shadow-2xl mb-5">
    <div class="h-[50rem] overflow-hidden">

        <Image src={img} alt="a" width="10" height="10" class=" w-full  rounded-md object-cover"/>
    </div>
    <div class=" grow shrink basis-1 p-[1rem]">
      <h5 class="text-center text-sky-800 text-3xl">{title}</h5>
      <p class="text-center">{body}</p>
    </div>
  </div>


  
