---

---

<footer class=" w-full text-white bg-cyan-600">
    <div class="text-center" >
        <h1 class="mt-2 text-2xl">Contactos</h1>
        <p class="mt-2"><i class="bi bi-envelope"></i> Correo : Myslagranja@gmail.com</p>
        <p class="mt-2"><i class="bi bi-telephone"></i> Telefono : 3122882455-3235335328</p>
        <p class="mt-2"><i class="bi bi-instagram"></i> Instagram: <a href="https://www.instagram.com/myslagranja" target="_blank" >@myslagranja</a></p>
    </div>
</footer>