@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500&family=Mulish&family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}

body{
    background-color: rgb(239, 239, 255);
    overflow-x: hidden;
}

footer{
    position: absolute;
    width: 100%;
    color: white;
    background-color: #0B6884;
    text-align: center;
}
footer a{
    color: white;
}
.card{
    border-radius: 16px;
    box-shadow: -8px 7px 18px rgba(0,0,0,0.6);
}

.card:hover{
    box-shadow: -18px 15px 55px rgba(0,0,0,0.6);
}


.card-title{
    text-transform: uppercase;
    text-align: center;
}