.ob-container{
    margin:5% 6% ;
    
}

.ob-container_colum1 h1{
    text-align: center;
    color: #276591;
    font-size: 3rem;
    text-transform:  uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

.ob-container_colum2{
    display: flex; 
    align-self: center;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    flex-wrap: wrap;
}

@media (max-width:1190px) {
    .ob-container{
        margin-top: 10%;
    }

}

@media (max-width:500px) {
    .ob-container_colum1 h1{
        font-size: 2.5rem;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }
}